iframe {
    pointer-events: none; /* Optional: disables interactions */
  }
  
  iframe::-webkit-media-controls-panel {
    display: none !important; /* Hides YouTube player controls */
  }
  
  @keyframes scroll-loop {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
  @keyframes scroll-loop-reverse {
    0% {
      transform: translateX(-50%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  
  .animate-scroll-loop {
    display: flex;
    animation: scroll-loop 60s linear infinite;
  }
  
  .animate-scroll-loop-reverse {
    display: flex;
    animation: scroll-loop-reverse 60s linear infinite;
  }
  