@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.scroll {
  display: flex;
  white-space: nowrap;
  animation: scroll 20s linear infinite; /* speed can be adjusted */
}

.scrollSlow {
  display: flex;
  white-space: nowrap;
  animation: scroll 25s linear infinite;
}
