/* Import font locally */

/* Reset for this component scope */
.background {
  min-height: 25vh;
  display: grid;
  justify-content: center;
  background-color: hsl(235, 16%, 14%); /* Very_dark_blue */
  background-image: url(https://i.postimg.cc/rmwYwjnp/bg-stars.png),
    url(https://i.postimg.cc/hGg5HcVT/pattern-hills.png);
  background-position: top, bottom;
  background-repeat: repeat-x;
  background-size: 100% 75%, 100% 25%;
  position: relative;
  z-index: 2;
  font-family: "Red Hat Text", sans-serif;
}

.background::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 75%;
  background-color: #322338;
  filter: blur(100px);
  opacity: 0.35;
  z-index: -1;
}

.container {
  margin: 1em;
}

.center {
  align-self: flex-end;
}

.heading {
  font-size: 1.1rem;
  color: hsl(0, 0%, 100%); /* White */
  letter-spacing: 0.5ch;
  text-align: center;
  margin-bottom: 3rem;
  font-weight: 700;
}

.countdownTimer {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
}
.countdownInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timerBox {
  width: 4rem;
  padding: 0.5rem;
  text-align: center;
  background-color: hsl(236, 21%, 26%); /* Dark_desaturated_blue */
  position: relative;
  border-radius: 0.25em;
}

.sheet {
  position: absolute;
  width: 100%;
  height: 50%;
  left: 0;
  top: 0;
  right: 0;
  background-color: hsl(235, 16%, 14%); /* Very_dark_blue */
  opacity: 0.35;
  pointer-events: none;
}

.flip {
  transition: transform 1s;
  transform: translate(0%, 100%) scaleY(-1);
}

.circleLeft {
  width: 0.25em;
  height: 0.45em;
  position: absolute;
  background-color: hsl(234, 17%, 12%); /* Very_dark_blac_blue */
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
  top: 45%;
  left: 0;
}
.circleRight {
  width: 0.25em;
  height: 0.45em;
  position: absolute;
  background-color: hsl(234, 17%, 12%); /* Very_dark_blac_blue */
  border-top-left-radius: 100%;
  border-bottom-left-radius: 100%;
  top: 45%;
  right: 0;
}

.primary {
  font-size: 1.8rem;
  color: rgb(249, 115, 22); /* Soft_red */
  text-align: center;
  font-weight: 700;
  user-select: none;
}

.subHeading {
  font-size: 0.5rem;
  color: hsl(237, 18%, 59%); /* Grayish_blue */
  text-align: center;
  letter-spacing: 0.5ch;
  margin-top: 1em;
  font-weight: 700;
}

/* Responsive styles */

@media (min-width: 430px) {
  .timerBox {
    width: 5rem;
    padding: 0.75rem;
  }

  .primary {
    font-size: 2rem;
  }

  .subHeading {
    font-size: 0.5rem;
  }

  .circleLeft,
  .circleRight {
    width: 0.35em;
    height: 0.65em;
  }
}

@media (min-width: 550px) {
  .timerBox {
    width: 6rem;
    padding: 0.75rem;
  }

  .primary {
    font-size: 3rem;
  }

  .subHeading {
    font-size: 0.75rem;
  }

  .circleLeft,
  .circleRight {
    width: 0.4em;
    height: 0.7em;
  }
}

@media (min-width: 800px) {
  .timerBox {
    width: 8rem;
    padding: 1rem;
  }

  .primary {
    font-size: 5rem;
  }
}

@media (max-width: 430px) {
  .countdownTimer {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 1rem;
  }

  .countdownInfo {
    flex: 1;
    text-align: center;
  }

  .timerBox {
    width: 3.5rem;
    padding: 0.5rem;
  }

  .subHeading {
    font-size: 0.75rem;
    margin-top: 0.5rem;
  }

  .primary {
    font-size: 1.2rem;
  }
}
