/* Default for larger screens */
.fixed-bottom {
  position: fixed;
  z-index: 1000; /* Ensure high enough z-index for mobile rendering */
  margin-left: -5px;
  margin-bottom: 70px;
  display: flex;
  flex-direction: column;
  gap: 15px; /* Default gap between icons */
  max-width: 100px;
}
.fa-square-phone:before {
  content: "\f098";
  font-size: 40px;
}
.fa-square-whatsapp:before {
  /* content: "\f098"; */
  font-size: 40px;
}

/* For medium screens (tablets) */
@media (max-width: 992px) {
  .fixed-bottom {
    z-index: 1000; /* Keep high z-index for visibility */
    /* margin-left: 10px; */
    margin-bottom: 65px;
  }

  .fa-square-phone:before {
    content: "\f098";
    font-size: 50px;
  }
  .fa-square-whatsapp:before {
    /* content: "\f098"; */
    font-size: 50px;
  }
}

/* For small screens (phones) */
@media (max-width: 768px) {
  .fixed-bottom {
    z-index: 1000; /* Ensure visibility during scroll */
    /* margin-left: 10px; */
    margin-bottom: 30px;
    gap: 10px; /* Reduce gap between icons for small screens */
    margin-bottom: 65px;
  }

  .fa-square-phone:before {
    content: "\f098";
    font-size: 50px;
  }
  .fa-square-whatsapp:before {
    /* content: "\f098"; */
    font-size: 50px;
  }
}

/* For extra small screens */
@media (max-width: 576px) {
  .fixed-bottom {
    z-index: 1000; /* High priority to remain on top */
    /* margin-left: 5px; */
    /* margin-left: 10px; */
    margin-bottom: 30px;
  }

  .fa-square-phone:before {
    content: "\f098";
    font-size: 50px;
  }
  .fa-square-whatsapp:before {
    /* content: "\f098"; */
    font-size: 50px;
  }
}

/* For smallest screens */
@media (max-width: 350px) {
  .fixed-bottom {
    z-index: 1000; /* Keep high for visibility */
    /* margin-left: 10px; */
    margin-bottom: 30px;
  }

  .fa-square-phone:before {
    content: "\f098";
    font-size: 50px;
  }
  .fa-square-whatsapp:before {
    /* content: "\f098"; */
    font-size: 50px;
  }
}

